*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
.pull-request

/fuel/app/config/crypt.php
/fuel/app/vendor/.composer/
/fuel/app/vendor/
/fuel/app/config/development/migrations.php
/public/assets/img/products/

