html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; zoom: 1; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}
input, textarea {outline: 0; margin: 0; padding: 0;}
button {border: 0; cursor: pointer;}
html {height: 100%;}
body {}
a {color: #333; border: 0; text-decoration: none;}
a, select, div, button {outline: 0;}
html{background-color: rgba(0,0,0,0);}

.itemnation-box{width: 200px; position: fixed; top: 20px; right: 20px; z-index:99999999999999999; background: #fff; border:1px solid #CFD9DC; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-image:-webkit-linear-gradient(top, #ecf9ff 0%, #ffffff 33%); text-align: center; font-size:16px; font-family: sans-serif;padding:25px;-webkit-box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.4);box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.4);}
.image {margin: 0 auto; width: 200px;}
.arrow {position:absolute; top:170px; cursor:pointer; display:none;}
.left {left:15px;}
.right {right:15px;}
.product-image{display:block;margin-top:25px;margin-bottom:25px;border:1px solid #CFD9DC;border-radius:8px;overflow:hidden;max-width:150px;height:150px;margin-left:auto;margin-right:auto;}

.gallery {width:200px;margin-left:auto;margin-right:auto;}
.gallery img{cursor: pointer; width:30px;height:30px;margin:3px;border:1px solid #CFD9DC;border-radius:2px;overflow:hidden;}

ul {margin: 20px 0;}
li {overflow: hidden; padding: 6px 0;}

input, textarea {font-size: 13px; background: #fff; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; box-shadow: inset 0 1px 1px #f5f5f5; -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #b6bcc1; padding: 5px;}
textarea {height: 120px; resize: none;}

label {float: left; width: 70px; text-align: right; display: block; color: #666; font-size: 13px; margin-right: 10px;}
select {float: left; width: 119px; font-size: 16px; }

.btn-container {overflow: hidden; margin: 0 10px;}
.btn-container > * {display: block; width: 46%; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.25); font-size: 12px; padding: 4px 0; line-height: 20px; -moz-border-radius: 4px; border-radius: 4px;}

.cancel {float: left;margin-right: 5px; background: #da4f49; background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(to bottom, #ee5f5b, #bd362f); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);}
.add 	{float: right; background: #5bb75b; background-image:-moz-linear-gradient(top, #62c462, #51a351); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)); background-image:-webkit-linear-gradient(top, #62c462, #51a351); background-image:-o-linear-gradient(top, #62c462, #51a351); background-image:linear-gradient(to bottom, #62c462, #51a351); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);}



