@import "bourbon/_bourbon.scss"; 
@import "_lib.scss"; 
@import "_base.scss";
 
/* Sections*/
@import "sections/_header.scss"; 
@import "sections/_footer.scss";  
@import "sections/_modals.scss"; 
     
/* Pages */  
@import "pages/_profile.scss";
@import "pages/_landing.scss";
@import "pages/_quest.scss";
@import "pages/_client.scss";
              

/* Quest */
.page-quest{
	.chat-button{
		padding: 9px 12px;
	}	
	.client{
		text-align: center;		
		h4{
			font-size: 16px;
		}
		img{
			@include border-radius(50%);
		}
	}    
	.bubble{ 
		margin: 0px -15px;
		padding: 10px;
		h4{
			font-size: 16px;
			font-weight: bold;
			margin: 0px 0 5px;
			color: #444;
			line-height: 120%;
		}
		&:after{
			top: 32px;
			left: -10px;
			border-width: 10px 10px 10px 0;
		}
		&:before{
			top: 32px;
			left: -11px;			
			border-width: 10px 10px 10px 0;
		}
	}
	.controls{
		text-align: right;
		margin: 0 -10px;
		a{
			padding: 5px;
			display: inline-block;
			font-size: 13px;
		}
	}
 
	.chat-wrap{
		margin: 0px -15px 0 0;

	}
	#quest_message_form{
		margin-top: 10px;
	}

}  
   

/* base */
.quest-product-square{
	text-align: center;
	.dash-product-image-div-wrap{
		min-height: 108px;
		margin-bottom: 3px;
	}
	.product-name{
		border: 0px none #777;
	}
	.product-info{
		border: 0px none #777;
		border-bottom: 1px solid #f5f4f4;
		padding: 0 0 4px;
		text-align: center;
		i{
			font-size: 14px;
			color: #5f8cbb;
		}
		> *{
			display: inline-block;	
		} 
		a{
			margin: 3px;
			display: inline-block;
			&:hover{
				span{
					background-color: rgba(129, 129, 129, 1);
				}
				i{
					color: #187FEB;
				}
			}	
		}		
	}
	.product-price{
		color: #7f7f7f;
		font-size: 16px;
		font-style: italic;
	}	
}
.title-box{
	line-height: 120%;
	&:hover{
		text-decoration: underline;
	}
}
.s-badge{
	background-color: rgba(170, 170, 170, 0.92);
	display: inline-block;
	padding: 0 5px;
	@include border-radius(3px);
	color: #fff;
	font-size: 12px;
}
#tiptip_holder{
	display: none !important;
}

