body {
	background-color: @inBlue;
}

a {
	transition: color .1s linear;
	-webkit-transition: color .1s linear;
}

.page-header {
	&.no-border {
		border: 0;
		margin-bottom: 0;
	}
}

.header-left img {
	width: 15em;
	margin-top: .5em;
}

.site-nav {
	margin-top: 1em;
}

.nav-image {
	margin-top: -.5em;
	img {
		margin-right: .5em;
	}
}

.container {
	padding-bottom: 2em;
}

.wrap {
	background: url('../img/top-shadow.png') repeat-x;
	background-color: #fff;
}

.footer {
	box-sizing: border-box;
	background-color: @inBlue;
	border-top: .5em solid @inLightBlue;
	padding: 1em 0;
	color: white;
	clear: both;

	a {
		&:link,
		&:visited {
			color: @inLightBlue;
			text-decoration: underline;
		}

		&:active,
		&:hover {
			color: #fff;
		}
	}

	h3 {
		text-shadow: .1em .1em .1em rgba(0, 0, 0, 0.25)
	}

	.site-links {
		margin-left: 0;

		li {
			list-style: none;
		}
	}

	.container {
		background: url('../img/footer-watermark.png') no-repeat;
		background-position: 0 .5em;
	}

	.center-footer {
		img {
			&:hover {
				.faded;
				transition: opacity .25s;
			}
			width: 30px;
			height: 30px;
		}
		a {
			&:first-of-type {
				margin-right: 10px;
			}
			&:last-of-type{
				margin-left: 10px;
			}
		}
	}
}