h1, h2, h3, h4, h5, h6 {
	color: #666;
}

.icon-background-circle {
	background-color: #eee;
	border-radius: 10em;
	padding: 10px;
	margin-top: 50px;
	position: absolute;
	top: 20px;
}

.header {
	margin-bottom: 10px;
}

.footer {
	margin-top: 50px;
	background: url(../img/stripes-dark.png);
	padding-top: 50px;

	.footer-white {
		.clearfix;
		background-color: #fff;
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.social-links {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;

	div {
		height: 58px;
		width: 58px;
		background-color: black;
		text-align: center;
		display: inline-block;
		margin-right: 20px;
	}

	.google-plus {
		background-color: #dd4b39;
		padding-top: 14px;
	}

	.facebook {
		padding-top: 14px;
		background-color: #3b5998;
	}

	.twitter {
		padding-top: 14px;
		background-color: #00acee;
	}

	.pinterest {
		padding-top: 14px;
		background-color: #c8232c;
	}
}

.landing-nav {
	margin-top: 2.2em;

	li a {
		color: #aaa;

		&:hover {
			opacity: .8;
			color: #FF6DB6;
			background-color: #fff !important;
		}
	}

	li.active a:hover {
		background-color: #FF6DB6 !important;
	}
}
.title {
	background-image: url(../img/patchwork.jpg);
}

.title-inner {
	background: rgba(222,71,145,0.9)
}

.title-content {
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,.4);
	padding-top: 50px;
	padding-bottom: 50px;

	h2 {
		font-size: 40px;
		font-weight: 700;
	}

	h2, h3, p {
		font-weight: 500;
		color: #fff;
	}
}

.title-soon {
	opacity: .9;
	margin-top: 10px;
}

.steps {
	margin-top: 50px;

	p,
	h3 {
		padding-left: 15px;
	}
}



html body p {
	color: #777;
}

a:hover {
	.icon-background-circle {
		background-color: @brand-primary;
	}
}

.proofs {
	margin-top: 50px;
	h3 {
		padding-bottom: 10px;
		border-bottom: 3px solid @brand-primary;
		display: inline-block;
	}

	hr {
		margin-top: -12px;
	}
}


.popular-images {
	img {
		box-sizing: border-box;
		border: 5px solid #eee;
		padding: 5px;
		width: 100%;

		&:hover {
			border: 5px solid @brand-primary;
			cursor: pointer;
		}
	}
}

.email-form {
	margin-top: 25px;
}

.testimonial {
	padding: 25px;
	background-color: #eee;
}

.testimonial-credit {
	color: #aaa;
	padding-left: 60px;
	background: url(../img/testimonial-bg.png) 0px -1px no-repeat; 
}

.in-form {
	margin-left: -20px !important;
	margin-right: -20px !important;
}

.social-login {
	margin-bottom: 25px;
}