.landing{
	p{
		color: #555; 
	}
	#top-bg{
		background: image-url("Background_image.png") right center no-repeat;
		background-size: cover;
		position: relative;
		.top-bg-wrap{
			background-color: rgba(0,0,0,.3);
			.header{
				@include clearfix();
				padding: 10px 20px;
				nav{
					ul{
						margin-top: 10px;
						li{
							display: inline-block;
							vertical-align: middle;
							margin: 10px 0;
							a{
								padding: 10px 15px;
								text-transform: uppercase;
								color: #ffffff;								
								font-size: 14px;
								line-height: 100%;
								&:hover{
									color: #58B2A5;
								}
								&.sg-button-primary{
									@include border-radius(25px);
									border: 0;
									margin-left: 15px;
									padding: 14px 20px;
									position: relative;
									border-bottom: 2px solid #327066;
									&:hover{
										color: #fff;										
									}
								}
							}
						}
					}     
				}
			}		
			.tagline{ 
				text-align: center;
				margin: auto;
				float: none;
				padding: 50px 20px 60px;
				.delay-cta {
					animation-delay: 1.2s;
					-webkit-animation-delay: 1.2s;
					-moz-animation-delay: 1.2s;
				}
				> *{
					color: #fff;
				}
				h1{
					font-size: 34px;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 1.3em;
					letter-spacing: 0.08em;
					text-shadow: 0px 0px 3px rgba(0,0,0,.4) ;
				}
				h2{					
					font-family: adobe-garamond-pro, Georgia, serif;
					font-style: italic;
					font-size: 20px;
					text-shadow: 0px 0px 3px rgba(0,0,0,.2) ;
				}
				.btn{
					@include border-radius(25px);
					padding: 15px 40px;
					text-transform: uppercase;
					margin: 20px 0;
					border: 0;
					border-bottom: 2px solid #327066;
					position: relative;
					font-size: 14px;
					letter-spacing: 0.5px;
					font-weight: normal;

					white-space: normal;
					word-break: break-word;
				}
			}
		} 
	}	
 
	#steps{		
		margin: 65px 0 30px;
		.step{
			text-align: center;
			margin: 0px 0 25px;
			padding: 0px 10px;
			.image-wrap{
				display: inline-block;
				margin-bottom: 5px;
				div{
					background-color: #51C2F6;					
					height: 150px;
					width: 150px;
					@include border-radius(50%);
					display: table-cell;
					vertical-align: middle;
					text-align: center;					
				}
			}			 
			h4{
				margin-bottom: 0px;
			}
			p{
				font-size: 16px;
				padding: 5px 10px;
				max-width: 245px;
				text-align: center;
				margin: auto;
				font-weight: 200;
			}
		}
	} 

	#testemonials{
		background-color: #f6f9fa;
		@include clearfix();
		padding: 75px 0 45px;
		.testemonial{
			padding: 0px 30px 30px;
			@include clearfix();
			p{
				background: image-url("quote.png") left top no-repeat;
				padding: 30px 0px 0px 40px;
				font-size: 17px;
			}
			.person{
				margin-left: 50px;
				margin-top: 15px;
				img{
					float: left;
					margin-right: 15px;					
				}
				h4{
					padding-top: 15px;
					font-size: 20px;
					font-weight: 700;
					margin-bottom: 2px;
				}
				span{
					color: #999999;
					font-weight: 200;
					font-size: 15px;
				}
			}
		}
	}

	#features{
		margin: 30px 0;
		.feature{
			margin: 30px 0;
			@include clearfix();
			.text-cont{
				padding-top: 40px;
				h4{
					color: #6eb2a6;
					text-transform: uppercase;
					font-size: 24px;
					margin-bottom: 15px;
				}
				p{
					font-size: 18px;
					font-weight: 200;
				}
				a{
					color: #6eb2a6;
					font-size: 18px;
					padding: 5px 22px 5px 0px;
					display: inline-block;					
					background: image-url("ar2.png") right center no-repeat;
				}
			}
			&.feature1{
				margin-bottom: 60px;
			}
			&.feature2{				
				.text-cont{
					text-align: right;
				}
			}
		}
	}

	#second-cta{
		text-align: center;
		margin: 10px 0 40px;
		h3{
			font-family: Georgia, serif;
			font-style: italic;
			font-size: 22px;
		}
		a{
			@include border-radius(25px);
			text-transform: uppercase;			
			font-size: 12px;			
			padding: 15px 40px;
			text-transform: uppercase;
			margin: 5px 0 15px;
			border: 0;
			border-bottom: 2px solid #327066;
			position: relative;
			font-size: 14px;
			letter-spacing: 0.5px;
			font-weight: normal;
		}
	}

	#mc_embed_signup{
		background-color: #dfdfdf;	
		margin-bottom: 50px;
		form{
			text-align: center;
			padding: 40px 25px;
			label{
				text-transform: uppercase;
				display: block;
				margin: 0 0 35px 0;
				padding: 0;
				color: #272727;
				font-size: 30px;
				line-height: 1.2em;
				text-align: center;
				font-weight: normal;
				letter-spacing: 2px;
			}
			.inputs{
				max-width: 400px;
				margin: 0 auto 35px;
				text-align: right;
				.mw-flex-box{
					display: block;
				}
				input[type='email']{
					box-shadow: 0px 0px 0px rgba(0,0,0,.5);
					border: 1px none #c2c2c2;
					padding: 15px;
					line-height: 100%;
					width: 100%;
					margin-bottom: 10px;
				}
				input[type='submit']{
					@include border-radius(25px);
					border: 0px none #777;
					margin-left: 10px;
					text-transform: uppercase;					
				}
			}		
		}
	}

}   
 
@media only screen and (min-width: 768px){

	.landing{
		#top-bg .top-bg-wrap .tagline{
			padding: 100px 20px 180px;
			h1{
				font-size: 48px;
			}
		} 
		#mc_embed_signup form .inputs{
			.mw-flex-box {
				display: -webkit-box;
				display: -moz-box;
				display: box;
			}
		} 
	}	

}
   