@import 'bootstrap';

$primary-color: #DF4892;
$secondary-color: #2DBDCF;

body {
	font-family: proxima-nova;
}

.background {
	background-image: url(../img/background.png);
	background-size: cover;
	background-position: bottom center;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.1);
	h1 {
		font-family: adelle;
		font-size: 3em;
		margin-top: 0;
	}
	position: relative;
}

.foreground {
	position: absolute;
	width: 100%;
	bottom: 20px;
	background-image: url(../img/foreground.png);
	background-size: auto 100%;
	background-position: bottom center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.1);
	marg9n
	h1 {
		font-family: adelle;
		font-size: 3em;
		margin-top: 0;
	}
}

.table {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	margin: 0;
	background-image: url(../img/table.png);
	background-size: 100% 100%;
	background-position: bottom center;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.faded {
	opacity: .7;
	font-size: .8em;
}

.header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-right: 0;
}

.strong-text {
	position: relative;
	top: 30px;
}

.sg-button-primary {
	font-family: proxima-nova;
	font-size: 1.4em;
	margin: 0;
	font-weight: 100;
	text-shadow: 0.1em 0.1em 0 #9a3131;
	background-color: $primary-color;
	padding: 0.8em;
	padding-top: .5em;
	padding-bottom: .45em;
	-webkit-font-smoothing: antialiased;
	border-radius: .3em;
	display: inline-block;
	box-shadow: 0.15em 0.15em 0 #9c4040;
	color: rgba(255, 255, 255, 0.95);
	text-decoration: none;
	&:hover {
		color: rgba(255,255,255,1);
		text-decoration: none;
		background-color: saturate($primary-color, 30%);
	}
	text-transform:uppercase;
}

.sg-button-secondary {
	@extend .sg-button-primary;
	text-shadow: 0.1em 0.1em 0 darken($secondary-color, 10%);
	background-color: $secondary-color;
	box-shadow: 0.15em 0.15em 0 darken($secondary-color, 10%);
	&:hover {
		background-color: saturate($secondary-color, 30%);
	}
}

.sg-button-tertiary {
	@extend .sg-button-secondary;
	color: #000;
	text-transform: lowercase;
	background-color: white;
	text-shadow: 0.05em 0.05em 0 darken(white, 20%);
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.call-to-action {
	margin-top: .8em;
}

.cta-assist {
	margin-top: 1.5em;
	opacity: .9;
	font-size: 1.5em;
}
.steps {
	background-color: #fff;
	box-shadow: 0px -10px 10px rgba(0,0,0,0.1);
	div {
		background-color: #fff;
	}
}

.step {
	padding: 2em;
	h2 {
		font-family: Adelle;
		color: #33312E;
		span {
			font-size: .8em;
		}
	}
	p {
		font-size: 1.2em;
		color: #7D7870;
	}
}

.quote {
	text-align: center;
	color: rgba(0,0,0,.6);
	font-family: adelle;
	font-size: 2.2em;
	margin-top: 30px;
	p {
		margin-bottom: 0px;
	}
}

.author {
	text-align: center;
	color: rgba(0,0,0,.3);
	font-size: 1.8em;
	font-style: italic;
	margin-bottom: 30px;
}

.featured {
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 2em;
	font-family: Adelle;
	color: darken(#F1F0EF, 30%);
	text-shadow: 1px 1px 0 #fff;
	span {
		font-size: .8em;
	}
}

.clear {
	clear: both;
}

.title {
	padding-left: 45px;
	img {
		float: left;
		margin-top: -10px;
	}
}

.authentication {
	padding-right: 30px;
	text-align: right;
}

.products {
	background-color: #F4F3F2;
	border-top: 5px solid darken(#F4F3F2, 2%);
	border-bottom: 5px solid darken(#F4F3F2, 2%);
	padding-bottom: 15px;
	@extend .clearfix;
	box-sizing: content-box;
}

.product {
	@extend .col-xs-4;
	@extend .col-md-2;
	padding-top: 15px;
	padding-bottom: 15px;
	.box {
		border-radius: 5px;
		background-color: #fff;
		border: 1px solid darken(#f4f3f2, 10%);
		box-shadow: 0px 0px 10px darken(#f4f3f2, 5%);
		overflow: hidden;
		img {
			width: 100%;
		}
		&:hover {
			border: 1px solid darken(#f4f3f2, 10%);
			box-shadow: 0px 0px 20px darken(#f4f3f2, 10%);
			cursor: pointer;
		}
	}
}

.second-cta {
	margin-top: 30px;
	text-align: center;
	color: rgba(0,0,0,.6);
	h2 {
		font-family: adelle;
	}
	.sg-button-primary {
		margin-top: 15px;
		font-family: proxima-nova;
		margin-bottom: 30px;
	}
}
.login {
	display: inline-block;
	color: #1679B1;
	text-decoration: none;
	padding-right: 2em;
}

.footer {
	background-color: #F4F3F2;
	border-top: 5px solid darken(#F4F3F2, 2%);
	padding-top: 15px;
	padding-bottom: 15px;
	@extend .clearfix;
	box-sizing: content-box;
}

.login-link {
	color: rgba(255,255,255,.8);
	top: 14px;
	right: 14px;
	position: relative;
	&:hover {
		text-decoration: none;
		color: rgba(255,255,255,1)
	}
}

.pages {
	color: darken(#F4F3F2, 20%);
	a {
		color: darken(#F4F3F2, 40%);
	}
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
	.strong-text {
		top: 3em;
		h1 {
			font-size: 2em;
		}
	}
}

@media (max-width: 380px) {

	.login-link {
		top: 7px;
	}

	.title img {
		width: 100%;
	}

	.authentication .sg-button-primary {
		font-size: 1em;
	}
}

.clickthrough {
	pointer-events:none;
}

.video {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


#signup .modal-body {
	color: #444;
}